.background {
    position: fixed;
    z-index: 980;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: white;
}
form {
    margin-left: 10%;
    position: fixed;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    background: white;
}
form > input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.2;
}
form > button {
    padding-top: 20px;
    background: none;
    outline: none;
    border: none;
    color:  rgb(58, 112, 229);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* 플러스버튼을 누르면 조금 멈췄다가 자연스럽게 사라짐  */
    transition: 0.1s background ease-in;
}
/* svg는 아이콘을 다 지칭함  */
.rewrite > svg {
    padding-top: 20px;
    color: rgb(58, 112, 229);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
}

.update, .delete{
    border: none;
    background-color: pink;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 1rem;
  
   
}

.delete {
    background-color: rgb(193, 188, 188);
    margin-left: 40px;
}