.TodoItem {
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 5px; */
    border-bottom: solid 1px black;
    /* border-top: solid 1px black; */

    padding: 0.7rem;
    display: flex;
    align-items: center;
}
.content {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
}
/* svg는 우리가 가져온 체크박스 아이템  */
.content svg {
    font-size: 1.5rem;
    color: red;
}
.content .text {
    margin-left: 1rem;
    flex: 1;
}
.content.checked .text {
    color: rgb(94, 93, 93);
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.6;
}
